<!DOCTYPE html>
<html lang="en">



<body>
    {{#if adminLogin}}
    {{>admin-header}}
    {{else}}{{#if vendorLogin}}
    {{>vendorHeader}}
    {{else}}{{#if Login}}
    {{>login-header}}
    {{else}}
    {{>defaultHeader}}
    {{/if}}
    {{/if}}
    {{/if}}
  {{{body}}}
    {{#if adminLogin}}
    {{>admin-footer}}
    {{else}}{{#if vendorLogin}}
    {{>vendorFooter}}
     {{else}}{{#if Login}}
    {{>login-footer}}
    {{else}}
    {{>defaultFooter}}
    {{/if}}
    {{/if}}
    {{/if}}
  
 
    
</body>

</html>